*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


html {
   height: 100%;
   width: 100%;
}


body {
  margin: 0;
  padding: 0;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: 100%;
  font-family: 'Pathway Gothic One', sans-serif;
}


.wrapper {
  margin: 0 auto;
  width: 1000px;
  background-color: #fff;
  padding: 40px;
}


.top {
  height: 45%;
}


img {
  float:left;
  width: 65%;
  height: auto;
  margin: 0px 15px 10px 0;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.profile {
  display: inline-block;
  width: 65%;
  vertical-align: top;
  padding-right: 15px;
}

.principles {
  display: inline-block;
  width: 30%;
  overflow-y: scroll;
  height: 400px;
}


h2{
	font-size: 21px;
	color: #263555;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}


h3, ul p {
	font-size: 14px;
	color: #263555;
}


h3 {
  display: block;
  margin-bottom: 10px;
  margin-left: 0;
}

p {
	font-family: Arial;
	font-size: 12px;
	color: #4e5050;
}

ol, ul {
  list-style: none;
  padding: 0;
}


ul li {
  width: 45%;
  margin-left: 15px;
  display: inline-block;
}

ol {
  counter-reset: item;
  margin: 0;
  padding: 0;
}


ol li {
  border-bottom: 1px solid #fff;
  counter-increment: item;
  margin-top: 20px;
}


ol li:before {
  content: counter(item);
  margin-right: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #50B4E1;
  border-radius: 100%;
  color: #fff;
  text-align: center;
}


.principle {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 48px);
}



.top {
  border-bottom: 1px solid #DEDBDB;
  padding-bottom: 30px;
}


.offers {
  width: 70%;
  display: inline-block;
  margin-right: 20px;
}


ul {
  margin: 20px;
}


ul li::before {
  content: "→";
  margin-right: 10px;
  color: #50B4E1;
  display: inline-block;
}

ul li p {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 30px;
  width: calc(100% - 140px);
}

.testimonial {
  width: 25%;
  height: 250px;
  display: inline-block;
  vertical-align: top;
  position:relative;
}


.test {
  display: block;
  padding: 15px;
  background-color: #FCFAFA;
}

.border {
border: 1px solid #DEDBDB;
}


.border::before, .border::after {
  display: block;
  content: '';
  position: absolute;
  border: 11px solid transparent;
  border-top: 27px solid #DEDBDB;
  left: 50%;
  top: 249px;
  margin-left: -5px;
  width: 0;
  height: 0;
}


.border::after {
  border: 10px solid transparent;
  border-top: 24px solid #fff;
  margin-left: -4px;
}

.test::before, .test::after {
  content: 	"\0022";
}


.bottom {
  margin-top: 30px;
}

.signature h3{
  margin: 50px 80px 10px;
}
