*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html {
   height: 100%;
   width: 100%;
}


body {
  margin: 0;
  padding: 0;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: 100%;
  font-family: 'Pathway Gothic One', sans-serif;
}


.wrapper {
  margin: 0 auto;
  width: 480px;
  background-color: #fff;
  padding: 40px;
}


img {
  display: block;
  width: 100%;
  height: auto;
}


h2{
	font-size: 21px;
	color: #263555;
  text-transform: uppercase;
}


h3, ul p {
	font-size: 14px;
	color: #263555;
}


h3 {
  display: block;
  margin: 20px;
  margin-left: 0;
}

p {
	font-family: Arial;
	font-size: 12px;
	color: #4e5050;
}

ol, ul {
  list-style: none;
  padding: 0;
}


ul li {
  display: inline-block;
  width: 45%;
  margin-left: 15px;
}


.principles {
  border-bottom: 1px solid #DEDBDB;
  padding-bottom: 30px;
}


article {
  margin-top: 40px;
}


article:first-child {
  margin-top: 0;
}

h3 {
  font-weight: lighter;
}
